WpfApplication/Service References/wcfClient/WcfClients.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WcfClients" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56394/WcfClients.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56394/WcfClients.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56394/WcfClients.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWcfClient_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_update_InputMessage">
    <wsdl:part name="parameters" element="tns:update" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_update_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_select_InputMessage">
    <wsdl:part name="parameters" element="tns:select" />
  </wsdl:message>
  <wsdl:message name="IWcfClient_select_OutputMessage">
    <wsdl:part name="parameters" element="tns:selectResponse" />
  </wsdl:message>
  <wsdl:portType name="IWcfClient">
    <wsdl:operation name="insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfClient/insert" message="tns:IWcfClient_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfClient/insertResponse" message="tns:IWcfClient_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfClient/update" message="tns:IWcfClient_update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfClient/updateResponse" message="tns:IWcfClient_update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfClient/delete" message="tns:IWcfClient_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfClient/deleteResponse" message="tns:IWcfClient_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="select">
      <wsdl:input wsaw:Action="http://tempuri.org/IWcfClient/select" message="tns:IWcfClient_select_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWcfClient/selectResponse" message="tns:IWcfClient_select_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWcfClient" type="tns:IWcfClient">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/IWcfClient/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="http://tempuri.org/IWcfClient/update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IWcfClient/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select">
      <soap:operation soapAction="http://tempuri.org/IWcfClient/select" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WcfClients">
    <wsdl:port name="BasicHttpBinding_IWcfClient" binding="tns:BasicHttpBinding_IWcfClient">
      <soap:address location="http://localhost:56394/WcfClients.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>