WpfApplication/Service References/wcfClient/WcfClients2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56394/WcfClients.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" />
  <xs:element name="insert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="value" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="insertResult" nillable="true" type="q2:Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="update">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="value" nillable="true" type="q3:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="updateResult" nillable="true" type="q4:Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="value" nillable="true" type="q5:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="deleteResult" nillable="true" type="q6:Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="select">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="selectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="selectResult" nillable="true" type="q7:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="value" nillable="true" type="q8:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insertTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="insertTResult" nillable="true" type="q9:Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="value" nillable="true" type="q10:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="updateTResult" nillable="true" type="q11:Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="value" nillable="true" type="q12:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="deleteTResult" nillable="true" type="q13:Error" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obj" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="selectTResult" nillable="true" type="q14:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>