WpfApplication/Service References/Auth/Authentification3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfAuthentification" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfAuthentification" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52720/Authentification.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" />
  <xs:complexType name="Jeton">
    <xs:sequence>
      <xs:element minOccurs="0" name="connexion" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="erreur" nillable="true" type="q1:Error" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ConnectionDb.classe" minOccurs="0" name="user" nillable="true" type="q2:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Jeton" nillable="true" type="tns:Jeton" />
</xs:schema>